page-nilaip {
	ion-slide {
		align-items: flex-start !important;

	}
	ion-slides{
		height: auto !important;
	}

	ion-col{
		margin: auto !important;
	}

	.text-input-md{
		text-align: right !important;
	}
}
