<ion-header>
    <ion-navbar color="primary">
       
        <ion-title> Jadwal Mata Pelajaran</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Pilih hari</ion-label>
            <ion-select [(ngModel)]="hari">
                <ion-option value="Senin" checked="true">Senin</ion-option>
                <ion-option value="Selasa">Selasa</ion-option>
                <ion-option value="Rabu">Rabu</ion-option>
                <ion-option value="Kamis">Kamis</ion-option>
                <ion-option value="Jum'at">Jum'at</ion-option>
                <ion-option value="Sabtu">Sabtu</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-card *ngFor= "let data of datajadwal; let i = index ">
            <ion-item *ngIf="(hari ==''|| hari ==datajadwal[i].hari )">
                <h2>Kelas {{data.namakelas}}</h2>
                <p>Hari: {{data.hari}}</p>
                <p>Pukul: {{awal}} - {{akhir}} WIB</p>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>
